<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.bluemsun.answerapp.dao.UserDaoInterface">
 <select id="getUserById" resultType="UserBean">
     SELECT * from user where userId=#{id}
 </select>
    <select id="getUserByPwdAndUsernameDao" resultType="UserBean">
        SELECT * FROM user WHERE username=#{username} AND password=#{pwd}
    </select>
</mapper>